.brands {
  margin: 65px 0 80px;
  &__header {
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  &__item {
    text-align: center;
    padding: 0 15px;
  }
}

