.page-header {
    //background-image: url(../src/img/banner.jpg);
    background-color: $gray;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url(../src/img/banner.png);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url(../src/img/banner.png);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url(../src/img/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 687px;
    max-width: 1400px;
    display: block;
    margin: 0 auto;
    width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    img {
      width: 130px;
      height: 38px;
    }
  }
  &__title {
    text-align: center;
    margin-top: 200px;
    h3 {
      color: $color-secondary;
      margin-top: 25px;
    }
  }
}

.btn-group {
  margin-top: 84px;
}



.main-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    //letter-spacing: 1px;
    cursor: pointer;
    &-link {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__item-link {
    color: $color-secondary;
  }
}

.menu--toggle {
  display: none;
}











