$site-width: 1170px;    // ширина сайта
$gutter: 15px;

//$color-main: #00a5ff;
$color-secondary: #fff;

$color-success: #00a5ff;
//$color-success--light: ;

$btn-main-bg: $color-success;
$btn-main-color: #fff;
$btn-main-border: $color-success;

//$color-success;
//$color-success--darken;
//$color-success--darken;


$gray--lightest: #e2e2e2;
$gray--lighten: #f4f5f9;
$gray--light: #f5f6f8;
$gray: #999;
$gray--dark: #3a3f4b;
$gray--darken: #3b404c;

$font-family: OpenSans, sans-serif;
$font: OpenSans, serif;

$sm: 544px;     // Small screen / phone
$md: 768px;     // Medium screen / tablet
$lg: 992px;     // Large screen / desktop
$xl: 1200px;    // Extra large screen desktop
$xxl: 1440px;   // Wide desktop

$breakpoint: 1170px;