doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Velox
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='css/style.css')
    link(href="slick/slick-theme.css", rel="stylesheet", type="text/css")
    //link(href="styles/mislider.css" rel="stylesheet" type="text/css")

  body.js-body
    header.page-header
      .page-header__banner
        .container
          .page-header__container
            a.page-header__logo(href="#")
              img(src="src/img/logo.png" width="130" height="38" alt="Velox")
            nav.main-nav.main-nav--closed
              .main-nav__wrapper
                ul.main-nav__list
                  li.main-nav__item.main-nav__item--active
                    a.main-nav__item-link(href="#") Services
                  li.main-nav__item
                    a.main-nav__item-link(href="#") Portofolio
                  li.main-nav__item
                    a.main-nav__item-link(href="#") Testimonials
                  li.main-nav__item
                    a.main-nav__item-link(href="#") About
                  li.main-nav__item
                    a.main-nav__item-link(href="#") Contact
            button.menu--toggle(type="button") Открыть меню
              //.side-menu
                  .menu--toggle
                    span
                    span
                    span
                  .menu--toggle-cross &#735;
                  ul.side-menu__list
                    li.side-menu__item
                      a.side-menu__item-link(href="#") Services
                    li.side-menu__item
                      a.side-menu__item-link(href="#") Portfolio
                    li.side-menu__item
                      a.side-menu__item-link(href="#") Testimonials
                    li.side-menu__item
                      a.side-menu__item-link(href="#") About
                    li.side-menu__item
                      a.side-menu__item-link(href="#") Contact
          .page-header__title
            h1 Velox One Page Template
            h3 Clean, Responsive, customizable one page template
          .btn-group
            a(href="#").page-header__btn.btn.btn_center.btn_md Get Started Now
    section.services
      .container
        header.services__header
          h2.title.title_line Our services
        .services__list
          .services__item
            .services__icon-box
              img.services__icon(src='img/services-icon.svg', alt="")
            h6.services__title Logo design
            p.services__text.
              Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
          .services__item
            .services__icon-box
              img.services__icon(src='img/services-icon.svg', alt="")
            h6.services__title Web design
            p.services__text.
              Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
          .services__item
            .services__icon-box
              img.services__icon(src='img/services-icon.svg', alt="")
            h6.services__title Branding
            p.services__text.
              Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
          .services__item
            .services__icon-box
              img.services__icon(src='img/services-icon.svg', alt="")
            h6.services__title Illustrations
            p.services__text.
              Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
    section.portfolio
      .portfolio-wrap
        .container
          header.portfolio__header
            h2.portfolio__title.title_line Portfolio
          menu.portfolio__menu
            ul.portfolio__list
              li.portfolio__item.portfolio__item--active
                a.portfolio__item-link(href="#") All
              li.portfolio__item
                a.portfolio__item-link(href="#") Illustrations
              li.portfolio__item
                a.portfolio__item-link(href="#") Logo
              li.portfolio__item
                a.portfolio__item-link(href="#") Branding
              li.portfolio__item
                a.portfolio__item-link(href="#") Web Design
            .portfolio__cols
              a.portfolio__col(href="#")
                span.portfolio__col-img
                img(src="src/img/img1.png")
                span.portfolio__col-title Agency - PSD Template
              a.portfolio__col(href="#")
                span.portfolio__col-img
                img(src="src/img/img.png")
                span.portfolio__col-title Pure Vodka Branding
              a.portfolio__col(href="#")
                span.portfolio__col-img
                img(src="src/img/img.png")
                span.portfolio__col-title Web Design
              a.portfolio__col(href="#")
                span.portfolio__col-img
                img(src="src/img/img.png")
                span.portfolio__col-title Everest Logo
              a.portfolio__col(href="#")
                span.portfolio__col-img
                img(src="src/img/img.png")
                span.portfolio__col-title Poster Design
              a.portfolio__col(href="#")
                span.portfolio__col-img
                img(src="src/img/img.png")
                span.portfolio__col-title Illustration
            .btn-group
              a(href="#").portfolio__btn.btn.btn_center.btn_bg Show more
    section.brands
      .container
        header.brands__header
          h2.brands__title.title_line Recent Brands we’ve worked with
        ul.brands__list
          li.brands__item
            a(href="#").brands__item-link
              img(src="src/img/brands_1.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="src/img/brands_2.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="src/img/brands_3.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="src/img/brands_4.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="src/img/brands_5.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="src/img/brands_6.jpg")
    section.testimonials
      .testimonials-wrap
        .container
          header.testimonials__header
            h2.title_line See what others are saying about us
          .mis-stage
            ol.mis-slider
              li.mis-slide
                a.mis-container(href="#")
                  figure
                    img(src="src/img/testimonials1.jpg" alt="photo1")
                    figcaption thanks for all1
              li.mis-slide
                a.mis-container(href="#")
                  figure
                    img(src="src/img/testimonials2.jpg" alt="photo2")
                    figcaption thanks for all2
              li.mis-slide
                a.mis-container(href="#")
                  figure
                    img(src="src/img/testimonials3.jpg" alt="photo3")
                    figcaption thanks for all3
              button.testimonials__prev(type="button")
              button.testimonials__next(type="button")
          //.testimonials__wrapper.slider
            .testimonials__items
              blockquote.testimonials__item.slider_item
                .testimonials__author-foto
                  img(src="src/img/img.png" alt="")
                  p “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”
                  span Linda from example.com
              blockquote.testimonials__item.slider_item
                .testimonials__author-foto
                  img(src="src/img/img.png" alt="")
                  p “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”
                  span Linda from example.com
              blockquote.testimonials__item.slider_item
                .testimonials__author-foto
                  img(src="src/img/img.png" alt="")
                  p “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”
                  span Linda from example.com
              button.testimonials__prev(type="button")
              button.testimonials__next(type="button")
            .testimonials__toggles.slider__toggles
              label.slider__toggle(for="testimonials-input-1") 1
              label.slider__toggle(for="testimonials-input-2") 2
              label.slider__toggle(for="testimonials-input-3") 3
    footer.footer
      .footer-wrap
        .container
          menu.footer-menu
            a.footer-menu__link(href="#") Contact Us
            ul.footer-menu__list
              li.footer-menu__item.footer-menu__item--active
                a(href="#") Home
              li.footer-menu__item
                a(href="#") About
              li.footer-menu__item
                a(href="#") Services
              li.footer-menu__item
                a(href="#") Blog
              li.footer-menu__item
                a(href="#") Contact Us
          .footer__columns
            .footer__col
              .footer__item
                h4 Our adress
                p.page-footer__text House No,11132, Sector 31, Gurgaon<br>122001 India
              .footer__item
                h4 Call us
                p.page-footer__text 8 (999) 250-07-00<br>8 (999) 250-07-00
              .footer__item
                h4 Email us
                a contactus@email.com
            .footer__col
              form(method="post")
                .footer__field.footer__field--half
                  label(for="name") Name:
                  input(name="name" type="text")
                .footer__field.footer__field--half
                  label(for="name") Subject:
                  input(name="name" type="text")
                .footer__field
                  label(for="message") Your Message:
                  textarea(name="message" rows="5")
                ul.footer__actions
                  li
                    input(class="btn" value="Send message" type="submit")
            a(href="").to-top.js-to-top
      .footer-copyright
        .container
          p © 2016 Nishant Bazzad
          .social-links
            a.social-link.social-link--fb(href="#")
              //svg.svg-icon.svg-icon-arrow
                use(xlink:href='#fb-glyph')
            a.social-link.social-link--vk(href="#")
            a.social-link.social-link--g(href="#")
    script(src="./bower_components/jquery/dist/jquery.min.js")
    //script(src="./bower_components/slick-carousel/mislider/dist/js/mislider.min.js")
    script(src="./bower_components/slick-carousel/slick/slick.min.js")
    script(src="src/js/index.js" type="text/javascript")

    //link(href="styles/mislider.css" rel="stylesheet" type="text/css")
    //script(src="scripts/mislider.js" type="text/javascript")


