.container {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
  @media (min-width: $breakpoint) and (max-width: $xxl - 1) {
    max-width: 1170px;
  }
  @media (min-width: $xxl) {
    max-width: 1230px;
  }
}

/*
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}
*/


